<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
</head>
<body>

<h1>Novo Usuário</h1>

<form th:action="@{/users/salvar}"
      th:object="${usuario}"
      method="post">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">
    <br><br>

    <label>CPF:</label>
    <input type="text" th:field="*{cpf}">
    <br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <br><br>

    <label>Telefone:</label>
    <input type="text" th:field="*{telefone}">
    <br><br>

    <label>Anônimo:</label>
    <input type="checkbox" th:field="*{anonimo}">
    <br><br>

    <button type="submit">
        Salvar
    </button>

</form>

</body>
</html>