<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
</head>
<body>

<h1>Editar Usuário</h1>

<form th:action="@{/users/atualizar/{id}(id=${usuario.id})}"
      th:object="${usuario}"
      method="post">

    <input type="hidden" th:field="*{id}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}">
    <br><br>

    <label>CPF:</label>
    <input type="text" th:field="*{cpf}">
    <br><br>

    <label>Email:</label>
    <input type="email" th:field="*{email}">
    <br><br>

    <label>Telefone:</label>
    <input type="text" th:field="*{telefone}">
    <br><br>

    <button type="submit">
        Atualizar
    </button>

</form>

</body>
</html>