<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuários</title>
</head>
<body>

<h1>Usuários Cadastrados</h1>

<a th:href="@{/users/novo}">
    Novo Usuário
</a>

<br><br>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nome}"></td>
        <td th:text="${u.email}"></td>

        <td>
            <a th:href="@{/users/{id}(id=${u.id})}">
                Ver
            </a>

            |

            <a th:href="@{/users/editar/{id}(id=${u.id})}">
                Editar
            </a>

            |

            <a th:href="@{/users/excluir/{id}(id=${u.id})}">
                Excluir
            </a>
        </td>
    </tr>

</table>

</body>
</html>